{% extends 'base.html.twig' %}

{% block title %}Techno Modification{% endblock %}

{% block body %}
    <div class="m-5">
        <h1 class="mb-3">
            Modification
        </h1>
        {{ form_start(form, {'attr': {'class': 'd-flex flex-wrap justify-content-around'}}) }}
            {% for child in form.children %}
                {% if child.vars.name != '_token' %}
                    {% if child.vars.name != 'imageTemp' %}
                        <div class="col-lg-3 m-2 col-md-5 col-12">
                            {{ form_row(child) }}
                        </div>
                    {% else %}
                        <div class="col-lg-3 m-2 col-md-5 col-12">
                            {{ form_row(child) }}
                            {% if techno.image is not null %}
                                <div  style="height: 2.5em" class="d-flex justify-content-around">
                                    <img src="{{ asset(techno.image.path) }}" alt="image" />
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalImageDelete">X</button>
                                </div>
                                <div class="modal fade" id="modalImageDelete" tabindex="-1" aria-labelledby="modalImageDeleteLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalImageDeleteLabel">Delete Image !</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <a href="{{ path("app_techno_modification_image_delete", { technoId: techno.id, technoImage: techno.image.path }) }}" class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {%endif%}
            {% endfor %}

            <div class="col-12 d-flex justify-content-center">
                <button data-bs-toggle="modal" data-bs-target="#modaltechnoModification" class="btn btn-primary px-5" type="button" name="technoId" value="{{ techno.id }}">Submit</button>
            </div>

            <div class="modal fade" id="modaltechnoModification" tabindex="-1" aria-labelledby="modaltechnoModificationLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modaltechnoModificationLabel">techno Modification !</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit" name="technoId" value="{{ techno.id }}">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
